body {
  padding: 0;
  margin: 0;
  border: 0;
}

#board_container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 124, 124);
}

#board_div {
  width: 720px;
  height: 720px;
  border: 16px solid;
  position: absolute;
  left: 100px;
  top:  90px;
}

.grabbable {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.target_square {
  width: 89px;
  height: 89px;
  background-color: red;
  position: absolute;
  border: 1px solid;
}
