body {
  padding: 0;
  margin: 0;
  border: 0;
}

#board_container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 124, 124);
  display: flex;
}

#board_div {
  width: 720px;
  height: 720px;
  border: 16px solid;
  position: absolute;
  left: 100px;
  top:  90px;
}

#board_img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.grabbable {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.target_square {
  width: 89px;
  height: 89px;
  background-color: red;
  position: absolute;
  border: 1px solid;
}


.king_under_attacked {
  width: 89px;
  height: 89px;
  background-color: rgb(205, 97, 97);
  position: absolute;
  border: 1px solid;
}

.input_entry {
  left: 19vw;
  top: 20vh;
  width: 65vw;
  height: 4vh;
  background-color: rgb(55, 52, 52);
  font-size: 2vw;
  color: white;
  position: absolute;
}

.fen {
  width: 4vw;
  height: 4vh;
  font-size: 5vw;
  top: 19.5vh;
  left: 8vw;
  position: absolute;
}

.options {
  width: 15vw;
  height: 15vw;
  top: 35vh;
  position: absolute;
  font-size: 3vw;
}

#go_back_main_menu {
  width: 200px;
  height: 50px;
  font-size: 20px;
  z-index: 10;
  left: 5px;
  top: 5px;
  position: absolute;
}

.manuel_button {
  z-index: 10;
  background-color: rgb(100, 94, 94);
  border-radius: 3px;
  border:1px solid #000000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manuel_button:hover {
  background-color: rgb(127, 119, 119);
}

.manuel_button:active {
  background-color: #cdcdcd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.winner_label {
  width: 250px;
  height: 50px;
  left: 500px;
  top: 5px;
  font-size: 40px;
  position: absolute;
  background-color: rgb(135, 124, 124);

}

#eval_res {
  width: 250px;
  height: 50px;
  left: 250px;
  top: 5px;
  font-size: 40px;
  position: absolute;
  background-color: rgb(135, 124, 124);
}